RewriteEngine On
redirect 301 /wiki/Java:String.substring() /Java/String/substring/
redirect 301 /wiki/Java:String.indexOf() /Java/String/indexOf/
redirect 301 /wiki/Java:Integer.parseInt() /Java/Integer/parseInt/
redirect 301 /wiki/Java:String.equals() /Java/String/equals/
redirect 301 /wiki/Java:String.charAt() /Java/String/charAt/
redirect 301 /wiki/Java:String.trim() /Java/String/trim/
redirect 301 /wiki/Java:Math.pow() /Java/Math/pow/
redirect 301 /wiki/Java:String.equalsIgnoreCase() /Java/String/equalsIgnoreCase/
redirect 301 /wiki/Java:Math.random() /Java/Math/random/
redirect 301 /wiki/Java:String.valueOf() /Java/String/valueOf/
redirect 301 /wiki/Java:String.isEmpty() /Java/String/isEmpty/
redirect 301 /wiki/Java:Math.abs() /Java/Math/abs/
redirect 301 /wiki/Java:Scanner.nextInt() /Java/Scanner/nextInt/
redirect 301 /wiki/Java:String.replaceAll() /Java/String/replaceAll/
redirect 301 /wiki/Java:String.replace() /Java/String/replace/
redirect 301 /wiki/Java:Math.sqrt() /Java/Math/sqrt/
redirect 301 /wiki/Java:ArrayList.remove() /Java/ArrayList/remove/
redirect 301 /wiki/Java:String.toUpperCase() /Java/String/toUpperCase/
redirect 301 /wiki/Java:IOException /Java/IOException/
redirect 301 /wiki/Java:ArrayList /Java/ArrayList/
redirect 301 /wiki/java:arraylist /Java/ArrayList/
redirect 301 /wiki/Java:System.arraycopy() /Java/System/arraycopy/
redirect 301 /wiki/Java:List.add() /Java/List-java-util/add/
redirect 301 /wiki/Java:StringBuffer.append() /Java/StringBuffer/append/
redirect 301 /wiki/Java:String.toCharArray() /Java/String/toCharArray/
redirect 301 /wiki/Java:Iterator.hasNext() /Java/Iterator/hasNext/
redirect 301 /wiki/HTML:Target /HTML/target/
redirect 301 /wiki/Java:Math.PI /Java/Math/PI/
redirect 301 /wiki/Java:DriverManager.getConnection() /Java/DriverManager/getConnection/
redirect 301 /wiki/Java:InputStream.read() /Java/InputStream/read/
redirect 301 /wiki/Java:String.length() /Java/String/length/
redirect 301 /wiki/Java:ArrayList.get() /Java/ArrayList/get/
redirect 301 /wiki/Java:BufferedReader.readLine() /Java/BufferedReader/readLine/
redirect 301 /wiki/Java:System.currentTimeMillis() /Java/System/currentTimeMillis/
redirect 301 /wiki/Java:Math.max() /Java/Math/max/
redirect 301 /wiki/Java:String.toLowerCase() /Java/String/toLowerCase/
redirect 301 /wiki/Java:ServletRequest.getParameter() /Java/ServletRequest/getParameter/
redirect 301 /wiki/Java:String.startsWith() /Java/String/startsWith/
redirect 301 /wiki/Java:HashMap /Java/HashMap/
redirect 301 /wiki/Java:Character.isLetter() /Java/Character/isLetter/
redirect 301 /wiki/Java:Character.isDigit() /Java/Character/isDigit/
redirect 301 /wiki/Java:Scanner.nextFloat() /Java/Scanner/nextFloat/
redirect 301 /wiki/Java:ArrayList.add() /Java/ArrayList/add/
redirect 301 /wiki/HTML:INPUT.checked /HTML/input/checked/
redirect 301 /wiki//html:input.checked /HTML/input/checked/
redirect 301 /wiki/Java:ArrayList.size() /Java/ArrayList/size/
redirect 301 /wiki/Java:Float.parseFloat() /Java/Float/parseFloat/
redirect 301 /wiki/Categoría:Java /Java
redirect 301 /wiki/Java:HashMap.get() /Java/HashMap/get/
redirect 301 /wiki/Java:String.lastIndexOf() /Java/String/lastIndexOf/
redirect 301 /wiki/Java:String /Java/String/
redirect 301 /wiki/HTML:IMG /HTML/img/
redirect 301 /wiki/html:img /HTML/img/
redirect 301 /wiki/Java:Window.setLocationRelativeTo() /Java/Window-java-awt/setLocationRelativeTo/
redirect 301 /wiki/Java:System.getProperty() /Java/System/getProperty/
redirect 301 /wiki/Java:ArrayList.set() /Java/ArrayList/set/
redirect 301 /wiki/Java:ArrayList.addAll() /Java/ArrayList/addAll/
redirect 301 /wiki/Java:InputMismatchException /Java/InputMismatchException/
redirect 301 /wiki/Java:String.compareToIgnoreCase() /Java/String/compareToIgnoreCase/
redirect 301 /wiki/Java:Map.put() /Java/Map/put/
redirect 301 /wiki/Java:ResultSet.next() /Java/ResultSet/next/
redirect 301 /wiki/Java:Iterator.next() /Java/Iterator/next/
redirect 301 /wiki/Java:Scanner /Java/Scanner/
redirect 301 /wiki/Java:Math /Java/Math/
redirect 301 /wiki/Java:HashMap.entrySet() /Java/HashMap/entrySet/
redirect 301 /wiki/Java:FileOutputStream /Java/FileOutputStream/
redirect 301 /wiki/Java:Calendar.getInstance() /Java/Calendar/getInstance/
redirect 301 /wiki/Java:BufferedWriter /Java/BufferedWriter/
redirect 301 /wiki/HTML:Width /HTML/img/width/
redirect 301 /wiki/Java:String.codePointAt() /Java/String/codePointAt/
redirect 301 /wiki/Java:Calendar /Java/Calendar/
redirect 301 /wiki/Java:HttpServletRequest.getSession() /Java/HttpServletRequest/getSession/
redirect 301 /wiki/Java:JFrame /Java/JFrame/
redirect 301 /wiki/Java:ActionEvent /Java/ActionEvent/
redirect 301 /wiki/Java:Map.containsKey() /Java/Map/containsKey/
redirect 301 /wiki/Java:IndexOutOfBoundsException /Java/IndexOutOfBoundsException/
redirect 301 /wiki/Java:HashMap.containsKey() /Java/HashMap/containsKey/
redirect 301 /wiki/DOM:Window.setTimeout() /DOM/Window/setTimeout/
redirect 301 /wiki/HTML5:CANVAS /HTML/canvas
redirect 301 /wiki/HTML:Onclick /HTML/onclick/
redirect 301 /wiki/Java:Stack.push() /Java/Stack/push/
redirect 301 /wiki/Java:JOptionPane.showInputDialog() /Java/JOptionPane/showInputDialog/
redirect 301 /wiki/Java:Hashtable /Java/Hashtable/
redirect 301 /wiki/Java:Calendar.MONTH /Java/Calendar/MONTH/
redirect 301 /wiki/Java:InputStream /Java/InputStream/
redirect 301 /wiki/Java:Stack /Java/Stack/
redirect 301 /wiki/Java:BufferedReader /Java/BufferedReader/
redirect 301 /wiki/Java:JFrame.setLayout() /Java/JFrame/setLayout/
redirect 301 /wiki/Java:ActionEvent.getActionCommand() /Java/ActionEvent/getActionCommand/
redirect 301 /wiki/Java:Stack.pop() /Java/Stack/pop/
redirect 301 /wiki/Java:HttpServletRequest /Java/HttpServletRequest/
redirect 301 /wiki/HTML:A /HTML/a/
redirect 301 /wiki/Java:ServletResponse.setContentType() /Java/ServletResponse/setContentType/
redirect 301 /wiki/Java:FileInputStream /Java/FileInputStream/
redirect 301 /wiki/Java:Vector.add() /Java/Vector/add/
redirect 301 /wiki/Java:Integer /Java/Integer/
redirect 301 /wiki/Java:ArrayList.clear() /Java/ArrayList/clear/
redirect 301 /wiki/HTML:INPUT /HTML/input/
redirect 301 /wiki/HTML5:AUDIO.autoplay /HTML/audio/autoplay
redirect 301 /wiki/Java:OutputStream /Java/OutputStream/
redirect 301 /wiki/Java:HashMap.keySet() /Java/HashMap/keySet/
redirect 301 /wiki/Java:File.renameTo() /Java/File/renameTo/
redirect 301 /wiki/Java:Comparator.compare() /Java/Comparator/compare/
redirect 301 /wiki/Java:PrintWriter /Java/PrintWriter/
redirect 301 /wiki/Java:Integer.toString() /Java/Integer/toString/
redirect 301 /wiki/Java:StringTokenizer /Java/StringTokenizer/
redirect 301 /wiki/Java:Object.finalize() /Java/Object/finalize/
redirect 301 /wiki/HTML:STRONG /HTML/strong/
redirect 301 /wiki/HTML:Frameborder /HTML/Frameborder/
redirect 301 /wiki/Java:String.format() /Java/String/format/
redirect 301 /wiki/Java:NumberFormatException /Java/NumberFormatException/
redirect 301 /wiki/Java:ServletRequest.getParameterValues() /Java/ServletRequest/getParameterValues/
redirect 301 /wiki/Java:File.getAbsolutePath() /Java/File/getAbsolutePath/
redirect 301 /wiki/CSS:Text-align /CSS/text-align/
redirect 301 /wiki/css:text-align /CSS/text-align/
redirect 301 /wiki/Java:Graphics.drawOval() /Java/Graphics/drawOval/
redirect 301 /wiki/Java:HashMap.put() /Java/HashMap/put/
redirect 301 /wiki/Java:Runtime.exec() /Java/Runtime/exec/
redirect 301 /wiki/Java:System.gc() /Java/System/gc/
redirect 301 /wiki/Java:String.compareTo() /Java/String/compareTo/
redirect 301 /wiki/Java:File.delete() /Java/File/delete/
redirect 301 /wiki/Java:Formatter.format() /Java/Formatter/format/
redirect 301 /wiki/Java:File.createTempFile() /Java/File/createTempFile/
redirect 301 /wiki/Java:ArrayList.iterator() /Java/ArrayList/iterator/
redirect 301 /wiki/Java:File.separator /Java/File/separator/
redirect 301 /wiki/Java:InputStreamReader /Java/InputStreamReader/
redirect 301 /wiki/HTML5:INPUT.autofocus /HTML/autofocus/
redirect 301 /wiki/HTML5:INPUT /HTML/input/
redirect 301 /wiki/Java:JTextField /Java/JTextField/
redirect 301 /wiki/Java:Connection /Java/Connection/
redirect 301 /wiki/Java:File.exists() /Java/File/exists/
redirect 301 /wiki/Java:Stack.empty() /Java/Stack/empty/
redirect 301 /wiki/Java:List.clear() /Java/List-java-util/clear/
redirect 301 /wiki/Java:File /Java/File/
redirect 301 /wiki/HTML:UL /HTML/ul/
redirect 301 /wiki/Java:System.out /Java/System/out/
redirect 301 /wiki/Java:String.split() /Java/String/split/
redirect 301 /wiki/Java:BufferedWriter.write() /Java/BufferedWriter/write/
redirect 301 /wiki/Java:GregorianCalendar /Java/GregorianCalendar/
redirect 301 /wiki/HTML:TEXTAREA /HTML/textarea/
redirect 301 /wiki/Java:RequestDispatcher.forward() /Java/RequestDispatcher/forward/
redirect 301 /wiki/Java:HttpSession /Java/HttpSession/
redirect 301 /wiki/HTML:Href /HTML/a/href/
redirect 301 /wiki/Java:Arrays.sort() /Java/Arrays/sort/
redirect 301 /wiki/HTML:Onmousemove /HTML/onmousemove/
redirect 301 /wiki/HTML:Onmousedown /HTML/onmousedown/
redirect 301 /wiki/Java:FileNotFoundException /Java/FileNotFoundException/
redirect 301 /wiki/Java:Util.List.toArray() /Java/List-java-util/List/toArray/
redirect 301 /wiki/HTML:Noresize /HTML/Noresize/
redirect 301 /wiki/Java:String.matches() /Java/String/matches/
redirect 301 /wiki/HTML:Height /HTML/img/height/
redirect 301 /wiki/HTML:Selected /HTML/option/selected/
redirect 301 /wiki/HTML5:VIDEO /HTML/video/
redirect 301 /wiki/Java:HttpSession.setMaxInactiveInterval() /Java/HttpSession/setMaxInactiveInterval/
redirect 301 /wiki/HTML:SUB /HTML/sub/
redirect 301 /wiki/HTML:TABLE /HTML/table/
redirect 301 /wiki/Java:Double.valueOf() /Java/Double/valueOf/
redirect 301 /wiki/Java:HttpServletRequest.getHeader() /Java/HttpServletRequest/getHeader/
redirect 301 /wiki/Java:MimeMessage /Java/MimeMessage/
redirect 301 /wiki/Java:Character /Java/Character/
redirect 301 /wiki/Java:Map.Entry /Java/Map/Entry/
redirect 301 /wiki/Java:ServletResponse.getWriter() /Java/ServletResponse/getWriter/
redirect 301 /wiki/Java:File.createNewFile() /Java/File/createNewFile/
redirect 301 /wiki/Java:HashSet /Java/HashSet/
redirect 301 /wiki/Java:String.endsWith() /Java/String/endsWith/
redirect 301 /wiki/Java:PreparedStatement.executeQuery() /Java/PreparedStatement/executeQuery/
redirect 301 /wiki/Java:FileReader /Java/FileReader/
redirect 301 /wiki/HTML:Type /HTML/input/type/
redirect 301 /wiki/HTML:CAPTION /HTML/caption/
redirect 301 /wiki/Java:SQLException /Java/SQLException/
redirect 301 /wiki/CSS:Background /CSS/background/
redirect 301 /wiki/Java:ArithmeticException /Java/ArithmeticException/
redirect 301 /wiki/Java:Dimension /Java/Dimension/
redirect 301 /wiki/HTML:Scrolling /HTML/Scrolling/
redirect 301 /wiki/Java:PreparedStatement /Java/PreparedStatement/
redirect 301 /wiki/HTML:Onchange /HTML/onchange/
redirect 301 /wiki/Java:Window.addWindowListener() /Java/Window-java-awt/addWindowListener/
redirect 301 /wiki/HTML5:AUDIO /HTML/audio/
redirect 301 /wiki/CSS:Background-color /CSS/background-color/
redirect 301 /wiki/css:background-color /CSS/background-color/
redirect 301 /wiki/Java:StringBuffer /Java/StringBuffer/
redirect 301 /wiki/DOM:HTMLCanvasElement.toDataURL() /DOM/HTMLCanvasElement/toDataURL/
redirect 301 /wiki/Java:ResultSet.getMetaData() /Java/ResultSet/getMetaData/
redirect 301 /wiki/XSLT:Xsl:sort /XSLT/Xsl/sort/
redirect 301 /wiki/Java:Map /Java/Map/
redirect 301 /wiki/Java:JOptionPane /Java/JOptionPane/
redirect 301 /wiki/HTML5:TIME.pubdate /HTML/time/pubdate
redirect 301 /wiki/HTML:Name /HTML/name/
redirect 301 /wiki/Java:Object.equals() /Java/Object/equals/
redirect 301 /wiki/Java:Servlet.init() /Java/Servlet/init/
redirect 301 /wiki/HTML:LI /HTML/li/
redirect 301 /wiki/Java:InetAddress.getByName() /Java/InetAddress/getByName/
redirect 301 /wiki/Java:Calendar.get() /Java/Calendar/get/
redirect 301 /wiki/HTML5:VIDEO.autoplay /HTML/video/autoplay/
redirect 301 /wiki/Java:URLConnection /Java/URLConnection/
redirect 301 /wiki/Java:File.getName() /Java/File/getName/
redirect 301 /wiki/Java.ServletRequest.getRemoteAddr() /Java/ServletRequest/getRemoteAddr/
redirect 301 /wiki/Java:JTextArea /Java/JTextArea/
redirect 301 /wiki/Java:Component.requestFocus() /Java/Component/requestFocus/
redirect 301 /wiki/Categoría:Metodo_Java /Java/tag/metodo-java/
redirect 301 /wiki/Java:Math.hypot() /Java/Math/hypot/
redirect 301 /wiki/CSS:Overflow /CSS/overflow/
redirect 301 /wiki/Javascript:Math.sqrt() /Javascript/Math/sqrt/
redirect 301 /wiki/Java:StringTokenizer.hasMoreTokens() /Java/StringTokenizer/hasMoreTokens/
redirect 301 /wiki/Java:System.in /Java/System/in/
redirect 301 /wiki/Java:File.getParent() /Java/File/getParent/
redirect 301 /wiki/ASP:Session.LCID /ASP/Session/LCID/
redirect 301 /wiki/HTML:Src /HTML/img/src/
redirect 301 /wiki/Java:StringBuffer.reverse() /Java/StringBuffer/reverse/
redirect 301 /wiki/HTML:Onsubmit /HTML/onsubmit/
redirect 301 /wiki/Java:File.listFiles() /Java/File/listFiles/
redirect 301 /wiki/Java:EOFException /Java/EOFException/
redirect 301 /wiki/Java:Closeable.close() /Java/Closeable/close/
redirect 301 /wiki/Java:File.length() /Java/File/length/
redirect 301 /wiki/HTML:HR /HTML/hr/
redirect 301 /wiki/Java:Iterator /Java/Iterator/
redirect 301 /wiki/Java:Calendar.DAY_OF_WEEK /Java/Calendar/DAY_OF_WEEK/
redirect 301 /wiki/Java:HttpServletResponse /Java/HttpServletResponse/
redirect 301 /wiki/Java:Socket.isConnected() /Java/Socket/isConnected/
redirect 301 /wiki/CSS:Background-image /CSS/background-image/
redirect 301 /wiki/Java:Properties.setProperty() /Java/Properties/setProperty/
redirect 301 /wiki/HTML:BODY /HTML/body/
redirect 301 /wiki/Java:Console.readPassword() /Java/Console/readPassword/
redirect 301 /wiki/Java:System.exit() /Java/System/exit/
redirect 301 /wiki/Java:Scrollbar /Java/Scrollbar/
redirect 301 /wiki/HTML:BR /HTML/br/
redirect 301 /wiki/HTML:Class /HTML/Class/
redirect 301 /wiki/Java:Display /Java/Display/
redirect 301 /wiki/Java:Long /Java/Long/
redirect 301 /wiki/Java:RandomAccessFile /Java/RandomAccessFile/
redirect 301 /wiki/HTML:FORM /HTML/form/
redirect 301 /wiki/Java:Calendar.DATE /Java/Calendar/DATE/
redirect 301 /wiki/HTML:OnSubmit /HTML/onsubmit/
redirect 301 /wiki/Java:StringBuilder.setCharAt() /Java/StringBuilder/setCharAt/
redirect 301 /wiki/Categoría:JavaScript /Javascript/
redirect 301 /wiki/CSS:Text-decoration /CSS/text-decoration/
redirect 301 /wiki/HTML:Alt /HTML/img/alt/
redirect 301 /wiki/Categoría:Java_Applet /Java/tag/java.applet/
redirect 301 /wiki/Categoría:HTML /HTML/
redirect 301 /wiki/Java:Array /Java/Array/
redirect 301 /wiki/Java:FileWriter /Java/FileWriter/
redirect 301 /wiki/Java:ResultSet /Java/ResultSet/
redirect 301 /wiki/Categoría:HTML5 /HTML/
redirect 301 /wiki/Java:Date.getDay() /Java/Date/getDay/
redirect 301 /wiki/Javascript:String.substr() /Javascript/String/substr/
redirect 301 /wiki/Java:Scanner.next() /Java/Scanner/next/
redirect 301 /wiki/Java:ArrayList.listIterator() /Java/ArrayList/listIterator/
redirect 301 /wiki/HTML:TD /HTML/td/
redirect 301 /wiki/HTML:HTML /HTML/html/
redirect 301 /wiki/Java:Transport.send() /Java/Transport/send/
redirect 301 /wiki/Java:CaretListener.caretUpdate() /Java/CaretListener/caretUpdate/
redirect 301 /wiki/Java:Enumeration.hasMoreElements() /Java/Enumeration/hasMoreElements/
redirect 301 /wiki/HTML5:TIME /HTML/time/
redirect 301 /wiki/HTML:OL /HTML/ol/
redirect 301 /wiki/Java:ArrayIndexOutOfBoundsException /Java/ArrayIndexOutOfBoundsException/
redirect 301 /wiki/HTML5:TIME.datetime /HTML/time/datetime/
redirect 301 /wiki/Java:HashMap.values() /Java/HashMap/values/
redirect 301 /wiki/Java:Date /Java/Date/
redirect 301 /wiki/Java:InetAddress.getLocalHost() /Java/InetAddress/getLocalHost/
redirect 301 /wiki/Java:Util.List /Java/List-java-util/List/
redirect 301 /wiki/Java:Color /Java/Color/
redirect 301 /wiki/Javascript:Array /Javascript/Array/
redirect 301 /wiki/Categoría:Java_SE /Java/tag/java-se/
redirect 301 /wiki/HTML:Title /HTML/title/
redirect 301 /wiki/HTML:Rowspan /HTML/td/rowspan/
redirect 301 /wiki/Java:Hashtable.get() /Java/Hashtable/get/
redirect 301 /wiki/Categoría:Java_Util /Java/tag/java.util/
redirect 301 /wiki/Java:HashSet.contains() /Java/HashSet/contains/
redirect 301 /wiki/Java:Choice /Java/Choice/
redirect 301 /wiki/Java:Util.List.size() /Java/Util/List/size/
redirect 301 /wiki/Java:HttpServlet.doGet() /Java/HttpServlet/doGet/
redirect 301 /wiki/Java:Date.getMonth() /Java/Date/getMonth/
redirect 301 /wiki/Java:Arrays /Java/Arrays/
redirect 301 /wiki/Java:Vector /Java/Vector/
redirect 301 /wiki/Java:Collections /Java/Collections/
redirect 301 /wiki/HTML:SELECT /HTML/select/
redirect 301 /wiki/HTML:Style /HTML/style/
redirect 301 /wiki/Java:StringTokenizer.countTokens() /Java/StringTokenizer/countTokens/
redirect 301 /wiki/Java:TextArea /Java/TextArea/
redirect 301 /wiki/Javascript:RegExp.test() /Javascript/RegExp/test/
redirect 301 /wiki/Categoría:CSS /CSS/
redirect 301 /wiki/HTML:BUTTON /HTML/button/
redirect 301 /wiki/Java:Point /Java/Point/
redirect 301 /wiki/Java:Component /Java/Component/
redirect 301 /wiki/Java:System /Java/System/
redirect 301 /wiki/Java:File.isDirectory() /Java/File/isDirectory/
redirect 301 /wiki/Java:Component.setLocation() /Java/Component/setLocation/
redirect 301 /wiki/CSS:Font-weight /CSS/font-weight/
redirect 301 /wiki/css:font-weight /CSS/font-weight/
redirect 301 /wiki/Java:ResultSetMetaData.getColumnCount() /Java/ResultSetMetaData/getColumnCount/
redirect 301 /wiki/Java:Calendar.DAY_OF_WEEK_IN_MONTH /Java/Calendar/DAY_OF_WEEK_IN_MONTH/
redirect 301 /wiki/Java:DriverManager /Java/DriverManager/
redirect 301 /wiki/HTML:H2 /HTML/h2/
redirect 301 /wiki/HTML:SPAN /HTML/span/
redirect 301 /wiki/HTML:IFRAME /HTML/iframe/
redirect 301 /wiki/HTML:LEGEND /HTML/legend/
redirect 301 /wiki/HTML5:FORM.autocomplete /HTML/form/autocomplete
redirect 301 /wiki/Java:Window /Java/Window
redirect 301 /Java/Util/List/ /Java/List-java-util/
redirect 301 /wiki/CSS:Visibility/ /CSS/visibility/
redirect 301 /wiki/Categoría:Elemento_HTML /HTML/tag/elemento-html/
redirect 301 /wiki/HTML:MENU /HTML/menu/
redirect 301 /wiki/Java:Map.get() /Java/Map/get
redirect 301 /wiki/Java:Image /Java/Image-java-awt/
redirect 301 /wiki/Java:ListIterator.previous() /Java/ListIterator/previous
redirect 301 /wiki/Javascript:Math.pow() /Javascript/Math/pow
redirect 301 /wiki/HTML:TBODY /HTML/tbody/
redirect 301 /wiki/Java:JobAttributes.DestinationType /Java/JobAttributes/DestinationType/
redirect 301 /wiki/Categoría:Google /Google/
redirect 301 /wiki/Java:DataHandler /Java/DataHandler/
redirect 301 /wiki/Java:BorderLayout /Java/BorderLayout/
redirect 301 /wiki/Java:BatchUpdateException.getUpdateCounts() /Java/BatchUpdateException/getUpdateCounts
redirect 301 /wiki/Java:Graphics2D /Java/Graphics2D/
redirect 301 /wiki/Categoría:Java_Swing /Java/tag/javax.swing/
redirect 301 /wiki/Java:Collections.max() /Java/Collections/max/
redirect 301 /wiki/Java:File.toURL() /Java/File/toURL/
redirect 301 /wiki/Java:Component.getMaximumSize() /Java/Component/getMaximumSize/
redirect 301 /wiki/Java:Runtime /Java/Runtime/
redirect 301 /wiki/Java:MenuBar /Java/MenuBar-java-awt/
redirect 301 /wiki/Java:WindowAdapter /Java/WindowAdapter/
redirect 301 /wiki/Java:JButton /Java/JButton/
redirect 301 /wiki/Java:Component.isDoubleBuffered() /Java/Component/isDoubleBuffered
redirect 301 /wiki/Java:Component.paint() /Java/Component/paint
redirect 301 /wiki/Java:Double /Java/Double/
redirect 301 /wiki/Java:JTextComponent /Java/JTextComponent/
redirect 301 /wiki/Java:Iterable /Java/Iterable/
redirect 301 /wiki/Java:HeadlessException /Java/HeadlessException/
redirect 301 /wiki/Java:InetAddress /Java/InetAddress/
redirect 301 /wiki/Java:PageAttributes.OrientationRequestedType /Java/PageAttributes/OrientationRequestedType/
redirect 301 /wiki/Java:Component.getMinimumSize() /Java/Component/getMinimumSize
redirect 301 /wiki/Java:File.isHidden() /Java/File/isHidden
redirect 301 /wiki/HTML:AREA /HTML/area/
redirect 301 /wiki/HTML:SMALL /HTML/small/
redirect 301 /wiki/Java:BufferedWriter.close() /Java/Writer/close/
redirect 301 /wiki/Java:File.setLastModified() /Java/File/setLastModified
redirect 301 /wiki/Java:Component.locate() /Java/Component/locate
redirect 301 /wiki/Java:JFrame.setGlassPane() /Java/JFrame/setGlassPane
redirect 301 /wiki/Java:Desktop /Java/Desktop/
redirect 301 /wiki/Java:InetAddress.getHostName() /Java/InetAddress/getHostName
redirect 301 /wiki/Java:Component.getToolkit() /Java/Component/getToolkit
redirect 301 /wiki/Especial:Entrar /
redirect 301 /wiki/HTML:H3 /HTML/h3/
redirect 301 /wiki/Javascript:Math.PI /Javascript/Math/PI
redirect 301 /wiki/Java:Component.isFocusCycleRoot() /Java/Component/isFocusCycleRoot
redirect 301 /wiki/Java:Component.getInputMethodListeners() /Java/Component/getInputMethodListeners
redirect 301 /wiki/Java:Component.disable() /Java/Component/disable
redirect 301 /wiki/Java:Component.list() /Java/Component/list
redirect 301 /wiki/Javascript:Date.getHours() /Javascript/Date/getHours/
redirect 301 /wiki/Javascript:Date.getMinutes() /Javascript/Date/getMinutes/
redirect 301 /wiki/Java:Component.transferFocus() /Java/Component/transferFocus/
redirect 301 /wiki/Java:Component.getLocale() /Java/Component/getLocale/
redirect 301 /wiki/Java:Component.getBackground() /Java/Component/getBackground/
redirect 301 /wiki/Java:Component.isLightweight() /Java/Component/isLightweight
redirect 301 /wiki/Java:Component.print() /Java/Component/print
redirect 301 /wiki/Java:Component.validate() /Java/Component/validate
redirect 301 /wiki/Java:Component.getFocusCycleRootAncestor() /Java/Component/getFocusCycleRootAncestor
redirect 301 /wiki/Java:Component.addHierarchyListener() /Java/Component/addHierarchyListener/
redirect 301 /wiki/Java:Component.getPropertyChangeListeners() /Java/Component/getPropertyChangeListeners/
redirect 301 /wiki/Java:ActionListener /Java/ActionListener/
redirect 301 /wiki/Java:Stream.filter() /Java/Stream/filter/
redirect 301 /wiki/Java:BasicStroke /Java/BasicStroke/
redirect 301 /wiki/Java:Character.toUpperCase() /Java/Character/toUpperCase/
redirect 301 /wiki/Java:PopupMenu /Java/PopupMenu/
redirect 301 /wiki/Java:Runtime.addShutdownHook() /Java/Runtime-java-lang/addShutdownHook/
redirect 301 /wiki/Java:FileChannel.tryLock() /Java/FileChannel/tryLock/
redirect 301 /wiki/Especial:Aleatoria /
redirect 301 /wiki/Java:ComponentOrientation /Java/ComponentOrientation/
redirect 301 /wiki/CSS:First-line /CSS/first-line/
redirect 301 /wiki/CSS:Quotes /CSS/quotes/
redirect 301 /wiki/Java:Stream.forEach() /Java/Stream/forEach/
redirect 301 /wiki/Java:IntStream.mapToObj() /Java/IntStream/mapToObj/
redirect 301 /wiki/HTML:Q /HTML/q/
redirect 301 /wiki/Java:Matcher /Java/Matcher/
redirect 301 /wiki/Java:Collector /Java/Collector/
redirect 301 /wiki/Java:Dimension.height /Java/Dimension/height/
redirect 301 /wiki/Java:Map.Entry.getValue() /Java/Map/Entry/getValue/
redirect 301 /wiki/Java:DateFormat.getDateInstance() /Java/DateFormat/getDateInstance/
redirect 301 /wiki/HTML:TH /HTML/th/
redirect 301 /wiki/CSS:Border-left-style /CSS/border-left-style/
redirect 301 /wiki/CSS:Left /CSS/left/
redirect 301 /wiki/HTML5:NAV /HTML/nav/
redirect 301 /wiki/CSS:Link /CSS/link/
redirect 301 /wiki/Categoría:PseudoElemento /CSS/tag/selector-css/
redirect 301 /wiki/Java:Calendar.MINUTE /Java/Calendar/MINUTE/
redirect 301 /wiki/Java:InetAddress.getAddress() /Java/InetAddress/getAddress
redirect 301 /wiki/Java:Double.toString() /Java/Double/toString/
redirect 301 /wiki/Categoría:Propiedad_Borde /CSS/border/
redirect 301 /wiki/HTML:Dir /HTML/dir/
redirect 301 /wiki/Java:TextField /Java/TextField-java-awt/
redirect 301 /wiki/Java:PrintWriter.print() /Java/PrintWriter/print
redirect 301 /wiki/Java:Arrays.asList() /Java/Arrays/asList/
redirect 301 /wiki/Java:Cursor /Java/Cursor/
redirect 301 /wiki/HTML5:DETAILS /HTML/details/
redirect 301 /wiki/Java:JLabel /Java/JLabel/
redirect 301 /wiki/java:calendar /Java/Calendar/
redirect 301 /wiki/HTML:Ondblclick /HTML/ondblclick/
redirect 301 /wiki/Categoría:Atributos_Generales_HTML5 /HTML/tag/atributo-html/
redirect 301 /wiki/Java:DragGestureRecognizer /Java/DragGestureRecognizer/
redirect 301 /wiki/Categoría:Constructor_Java /Java/tag/clase-java/
redirect 301 /wiki/Java:Connection.commit() /Java/Connection/commit/
redirect 301 /wiki/Javascript:SyntaxError /Javascript/SyntaxError/
redirect 301 /wiki/Java:FontMetrics /Java/FontMetrics/
redirect 301 /wiki/HTML5:FOOTER /HTML/footer/
redirect 301 /wiki/CSS:Page-break-after /CSS/page-break-after/
redirect 301 /wiki/Java:Statement.addBatch() /Java/Statement/addBatch/
redirect 301 /wiki/Java:File.lastModified() /Java/File/lastModified/
redirect 301 /wiki/Java:EventQueue /Java/EventQueue/
redirect 301 /wiki/HTML5:ADDRESS /HTML/address/
redirect 301 /wiki/Java:Properties.getProperty() /Java/Properties/getProperty/
redirect 301 /wiki/CSS:Word-spacing /CSS/word-spacing/
redirect 301 /wiki/CSS:Display /CSS/display/
redirect 301 /wiki/Java:RenderingHints /Java/RenderingHints/
redirect 301 /wiki/Javascript:String /Javascript/String/
redirect 301 /wiki/Java:IntStream /Java/IntStream/
redirect 301 /wiki/Java:DefaultHandler.startElement() /Java/DefaultHandler/startElement/
redirect 301 /wiki/Java:JFrame.remove() /Java/JFrame/remove/
redirect 301 /wiki/HTML:Method /HTML/form/method/
redirect 301 /wiki/CSS:Padding-left /CSS/padding-left/
redirect 301 /wiki/Java:JFrame.getLayeredPane() /Java/JFrame/getLayeredPane/
redirect 301 /wiki/CSS:Height /CSS/height/
redirect 301 /wiki/HTML5:AREA /HTML/area/
redirect 301 /wiki/CSS:Max-height /CSS/max-height/
redirect 301 /wiki/CSS:Padding-bottom /CSS/padding-bottom/
redirect 301 /wiki/CSS:List-style-position /CSS/list-style-position/
redirect 301 /wiki/HTML5:BDI /HTML/bdi/
redirect 301 /wiki/Java:Address /Java/Address/
redirect 301 /wiki/CSS:Text-transform /CSS/text-transform/
redirect 301 /wiki/CSS:Vertical-align /CSS/vertical-align/
redirect 301 /wiki/Java:FlavorListener /Java/FlavorListener/
redirect 301 /wiki/HTML:Hreflang /HTML/a/hreflang/
redirect 301 /wiki/Java:WindowAdapter.windowIconified() /Java/WindowAdapter/windowIconified/
redirect 301 /wiki/Categoría:Propiedad_Posicionamiento /CSS/position/
redirect 301 /wiki/Java:AWTError /Java/AWTError/
redirect 301 /wiki/HTML:NOSCRIPT /HTML/noscript/
redirect 301 /wiki/Java:Insets /Java/Insets/
redirect 301 /wiki/CSS:Font-size /CSS/font-size/
redirect 301 /wiki/CSS:Font-variant /CSS/font-variant/
redirect 301 /wiki/HTML:H6 /HTML/h6/
redirect 301 /wiki/Java:Session /Java/Session/
redirect 301 /wiki/Java:Set /Java/Set/
redirect 301 /wiki/Java:GridBagLayout /Java/GridBagLayout/
redirect 301 /wiki/CSS:First-letter /CSS/first-letter/
redirect 301 /wiki/Java:JFrame.isRootPaneCheckingEnabled() /Java/JFrame/isRootPaneCheckingEnabled/
redirect 301 /wiki/CSS:Border-spacing /CSS/border-spacing/
redirect 301 /wiki/HTML:OPTION /HTML/option/
redirect 301 /wiki/Java:WindowAdapter.windowLostFocus() /Java/WindowAdapter/windowLostFocus/
redirect 301 /wiki/Java:ResultSetMetaData /Java/ResultSetMetaData/
redirect 301 /wiki/CSS:Hover /CSS/hover/
redirect 301 /wiki/Categoría:Campo_Java /Java/tag/campo-java/
redirect 301 /wiki/Ayuda:Estructura_W3Api /colaborar/
redirect 301 /wiki/Java:InputStream.skip() /Java/InputStream/skip/
redirect 301 /wiki/HTML:Cols /HTML/cols/
redirect 301 /wiki/HTML5:DL /HTML/dl/
redirect 301 /wiki/Ayuda:Contenidos /acerca-de/
redirect 301 /wiki/Java:KeyEventDispatcher /Java/KeyEventDispatcher/
redirect 301 /wiki/Javascript:Object /Javascript/Object/
redirect 301 /wiki/HTML5:ContentEditable /HTML/contenteditable/
redirect 301 /wiki/CSS:After /CSS/after/
redirect 301 /wiki/Java:HashSet.add() /Java/HashSet/add/
redirect 301 /wiki/HTML5:INPUT.max /HTML/input/max/
redirect 301 /wiki/Java:JobAttributes /Java/JobAttributes/
redirect 301 /wiki/Java:GraphicsEnvironment /Java/GraphicsEnvironment/
redirect 301 /wiki/HTML:I /HTML/i/
redirect 301 /wiki/CSS:Background-repeat /CSS/background-repeat/
redirect 301 /wiki/HTML5:BASE /HTML/base/
redirect 301 /wiki/DOM:Document.getElementById() /DOM/Document/getElementById/
redirect 301 /wiki/DOM:Element.focus() /HTMLDOM/HTMLElement/focus/
redirect 301 /wiki/DOM:Element.insertAdjacentHTML() /DOM/Element/insertAdjacentHTML/
redirect 301 /wiki/DOM:Element.addEventListener() /DOM/EventTarget/addEventListener/
redirect 301 /wiki/HTML:Id /HTML/id/
redirect 301 /wiki/Categoría:Java_IO /Java/tag/java.io/
redirect 301 /wiki/DOM:Document /DOM/Document/
redirect 301 /wiki/DOM:Window /DOM/Window/
redirect 301 /wiki/HTML:P /HTML/p/
redirect 301 /wiki/HTML:SUP /HTML/sup/
redirect 301 /wiki/HTML5:Spellcheck /HTML/spellcheck/
redirect 301 /wiki/DOMHTML:History.back() /WebApi/History/back/
redirect 301 /wiki/Categoría:DOM /DOM/

redirect 301 /wiki/ http://www.w3api.com

## Gestión de Errores
ErrorDocument 404 /404.html

RewriteEngine On
RewriteCond %{HTTP_HOST} ^w3api.com\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://w3api.com/$1 [R,L]