/* start custom scss snippet */

// Separamos los logos del footer del contenido
.footer__author-links {
    margin-top: 1em;
}

#main-search {
    height: 4rem;
    box-shadow: 0 10px 35px rgba(0,0,0,0.12);
    padding:0 1em 0 4em;
    font-size:1.2em;
}

#main-search-icon {
    font-size: 3rem;
    width:5.3rem;
    line-height: 4.3rem; 
    color:#fb000e;
}

#main-search-box {
    max-width: 40rem;
}

.main-tech {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.main-tech-item {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.ads-aside {
    padding: 0.5em;
}

.qc-cmp2-persistent-link .qc-cmp2-persistent-link:visited {
    color: #fff;
}


/* end custom scss snippet */
