{%- if page.sidebar.nav -%}
  <div class="sidebar-toc">
    {%- assign _sidebar_nav = site.data.navigation[page.sidebar.nav] -%}
    {%- if _sidebar_nav -%}
    <img src="/assets/images/{{ page.sidebar.nav }}.png" alt="Logo {{ page.sidebar.nav }}" width="200" height="200"/>
    <ul class="toc toc--navigator">
      {%- for _item in _sidebar_nav -%}
        <li class="toc-h1">{{ _item.title }}</li>
        {%- if _item.children -%}
          {%- for _child in _item.children -%}
            {%- include snippets/get-nav-url.html path=_child.url -%}
            {%- assign _nav_url = __return -%}
            {%- include snippets/get-nav-url.html path=page.url -%}
            {%- assign _page_url = __return -%}
            {%- if _nav_url == _page_url -%}
              <li class="toc-h2 active"><a href="{{ _nav_url }}">{{ _child.title }}</a></li>
            {%- else -%}
              <li class="toc-h2"><a href="{{ _nav_url }}">{{ _child.title }}</a></li>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}
      </ul>
    {%- endif -%}

    <ul class="toc toc--navigator">
      <li class="toc-h1">APIs</li>
      <li class="toc-h2"><a href="/CSS/">CSS</a></li>
      <li class="toc-h2"><a href="/DOM/">DOM</a></li>
      <li class="toc-h2"><a href="/Google/">Google</a></li>
      <li class="toc-h2"><a href="/Groovy/">Groovy</a></li>
      <li class="toc-h2"><a href="/HTML/">HTML</a></li>
      <li class="toc-h2"><a href="/HTMLDOM/">HTMLDOM</a></li>
      <li class="toc-h2"><a href="/Java/">Java</a></li>
      <li class="toc-h2"><a href="/Javascript/">Javascript</a></li>  
      <li class="toc-h2"><a href="/jQuery/">jQuery</a></li>    
      <li class="toc-h2"><a href="/MongoDB/">MongoDB</a></li>
      <li class="toc-h2"><a href="/PHP/">PHP</a></li>
      <li class="toc-h2"><a href="/Python/">Python</a></li>      
      <li class="toc-h2"><a href="/SVG/">SVG</a></li>
      <li class="toc-h2"><a href="/VBScript/">VBScript</a></li>
      <li class="toc-h2"><a href="/WebAPI/">Web API</a></li>
      <li class="toc-h2"><a href="/XSLT/">XSLT</a></li>
      <li class="toc-h2"><a href="/XForms/">XForms</a></li>          
    </ul>
  </div>

{%- endif -%}


 